
<div tabindex="-1"  class="" ng-controller="DocumentCtrl">

<div ng-init="findOneDocument()" class=" markdown-{{doc.model.type}}">
	
  <div class="home-header" backstretch="doc.model.photo.header" ng-if="doc.model.photo.header">
  </div>


	<div class="container ">


		<h3 class="byline">
			Published <time>{{doc.model.created|dateMomentShort}}</time> by <span class="author">{{doc.model.signature}} 
		</h3>
    <a ng-href="/{{doc.model.type}}/{{doc.model.slug[0]}}/edit" 
    	 class="btn btn-info btn-xs pull-right" 
    	 ng-show="user.isAdmin()" ><i class="fa fa-edit"></i> edit</a>


		<h1 i18n-render="doc.model.title"></h1>	
		<h2 i18n-render="doc.model.header" class="header" 
		 parse-markdown="true"></h2>

		<div class="sidebar-block" ng-if="docs.length>1">
			<h4 translate="furthermore"></h4>
		  <ol  class="list-unstyled">
		  	<li ng-repeat="other in docs|orderBy:'-title.fr'" ><a ng-href="/{{other.type}}/{{other.slug[0]}}" i18n-render="other.title"></a></li>
		  </ol>		
		</div> 

	</div>    

  
  <div class="container text" 
  		 i18n-render="doc.model.content" 
  		 parse-markdown="true">
  	
  </div>

</div>

</div>
