<div class="container" ng-controller="ConfigCtrl">
  <div class="row relative" >
    <div class="stick-r" ng-if="user.isAdmin()">
      <button ng-disabled="WaitText"  ng-click="saveConfig();"  class="save btn btn-primary btn-lg"  >Enregistrer</button>
    </div>

    <div class="col-md-3" ng-include="'/partials/account/navigation.html'" />

    <div class="col-md-9" ng-if="user.isAdmin()">
        <!-- CONFIG -->
        <h4 class="page-header">Service WWW </h4>

        <!-- KEYS -->
        <h4 class="page-header">Gateway public key (stripe)</h4>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" ng-model="config.shared.keys.pubStripe" />
        </div>

        <h4 class="page-header">Uploadcare public key </h4>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" ng-model="config.shared.keys.pubUpcare" />
        </div>

        <h4 class="page-header">Cloudinary public key </h4>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" ng-model="config.shared.keys.pubCloudinary" />
        </div>

        <h4 class="page-header">Github public key</h4>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" ng-model="config.shared.keys.pubGithub" />
        </div>

        <h4 class="page-header">Map public key</h4>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" ng-model="config.shared.keys.pubMap" />
        </div>

        <h4 class="page-header">Disqus public key</h4>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" ng-model="config.shared.keys.pubDisqus" />
        </div>          

    </div>
  </div>
</div>