<div tabindex="-1" class="container dashboard" ng-controller="AccountCtrl" >
  <div class="row">
    <div class="col-md-3" ng-include="'/partials/account/navigation.html'" />


    <div class="col-md-9" ng-init="findAllUsers()">
        <h4 class=" ">
          <span class=""><i class="fa fa-edit gray"></i>&nbsp;Gestion des utilisateurs </span>

          <form class="form-inline inline" style="display:inline">
            <div class="form-group">
              <input type="text" class="form-control form-inline"  placeholder="Rechercher nom" ng-model="search.name">
            </div>
          </form>

          <button class="btn btn-transparent btn-md" ng-click="findAllUsers(search)"><i class="fa fa-refresh"></i></button>          

        </h4>



        <!-- USERS -->
        <div class="list-group">
          <a href="#" class="list-group-item " 
             ng-repeat="u in users|orderBy:options.orderByField:options.reverseSort|filterBy:['email.status']:options.filterByField|filter:options.filterTxt|limitTo:80" ng-class="{'danger':u.status!==true}">
            <h4 class="list-group-item-heading">{{u.displayName}}</h4>
            <p class="list-group-item-text">{{u.email.address}} 
              <i class="fa fa-check-circle" ng-show="u.email.status===true"></i>
            </p>
          </a>
        </div>        
        
    </div>
  </div>
</div>
