
<div tabindex="-1" class="container dashboard" ng-controller="AccountCtrl">

<div class="row relative" ng-controller="ConfigCtrl" >
    <div class="stick-r" ng-if="user.isAdmin()">
      <button ng-disabled="WaitText"  ng-click="saveConfig();"  class="save btn btn-primary btn-lg"  >Enregistrer</button>
    </div>

    <div class="col-md-3" ng-include="'/partials/account/navigation.html'" />

    <div class="col-md-9" >
      <!-- PROFILE -->
      <h4 class="page-header">
        <span class=""><i class="fa fa-edit gray"></i>&nbsp;Mon profil</span>
      </h4>

      <div class="alert alert-warning" ng-cloak  ng-show="user.email.status !== true">
        <strong>Votre adresse e-mail n'a pas été confirmée.</strong><br/>
        Afin d'assurer une communication avec vous, nous avons besoin de valider votre adresse email.
        Pour valider votre adresse, recherchez dans votre boîte de reception le message que nous vous avons envoyé. Vous pouvez <a href="" ng-click="verify(user)">aussi demander à recevoir un nouvel e-mail de confirmation.</a>.
      </div>


      <!-- LE SITE -->
      <div class="clearfix" >
        <h4 class="page-header"><i class="fa fa-edit gray"></i>&nbsp;Nom du site</h4>
        <div class="form-group ">                        
          <div class="form-group ">                        
              <input type="text" class="form-control input-lg" ng-model="config.shared.home.siteName[locale()]" />
          </div>
        </div>

        <h4 class="page-header"><i class="fa fa-edit gray"></i>&nbsp;Titre du site</h4>
        <div class="form-group ">                        
          <div class="form-group ">                        
              <input type="text" class="form-control input-lg" ng-model="config.shared.home.tagLine[locale()]" />
          </div>
        </div>

        <!-- ABOUT -->
        <h4 class="page-header"><i class="fa fa-edit gray"></i>&nbsp;A propos du site</h4>
        <div class="form-group ">                        
          <div class="">
            <textarea  rows="4" class="form-control input-lg" ng-model="config.shared.home.about[locale()]" placeholder="A propos?"></textarea>            
          </div>
        </div>

        <!-- IMG HOME -->
        <h4 class="page-header"><i class="fa fa-edit gray"></i>&nbsp;Image Home</h4>
        <div class="form-group ">                        
          <div class="" style="width:100%">
            <!-- Photo -->
            <uploadcare-widget
              ng-model="config.shared.home.image"
              data-locale="{{locale()}}"
              data-tabs="file url facebook flickr"
              data-images-only="true"
              data-path-value="true"
              data-preview-step="true"
              data-clearable="true"
              data-multiple="false"
              data-crop="free"
              data-max-size-hide="203600"
              on-upload-error="uploadImageError(error)"
              value="{{config.shared.home.image}}"
             />          
          </div>
        </div>

        <!-- FOOTER -->
        <h4 class="page-header"><i class="fa fa-edit gray"></i>&nbsp;Footer</h4>
        <div class="form-group ">                        
          <div class="">
            <textarea  rows="4" class="form-control input-lg" ng-model="config.shared.home.footer[locale()]" ></textarea>            
          </div>
        </div>

        
        <!-- MAINTENANCE -->
        <h4 class="page-header"><i class="fa fa-edit gray"></i>&nbsp;Message aux utilisateurs du site</h4>
        <div class="form-group ">                        
          <label class="control-label">Information
            <input type="checkbox" ng-model="config.shared.maintenance.active">
          </label>
          <div class="">
            <textarea  rows="4" class="form-control input-lg" ng-model="config.shared.maintenance.reason[locale()]" placeholder="Pour quelle raison?"></textarea>            
          </div>
        </div>
        
        <hr/>
      </div>

    </div>
  </div> 
</div>
