
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  

 <!--  <div class="butter-bar active info back " ng-cloak ng-show="user.email.status !== true">
    <p class="butter-bar-message">
      <b>Psst!</b> N'oubliez pas de valider votre adresse e-mail! Recherchez dans votre boîte de reception le message que nous vous avons envoyé. <a href="/account/overview">Vous pouvez aussi demander à recevoir de nouveau l'e-mail</a>.
    </p>
  </div>
 -->


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          



      <!-- SHOPS ORDERS -->
      <div class="  clearfix"  ng-if="user.isAdmin()">
          <h5 class=" ">
            <span class=""><i class="fa fa-line-chart gray"></i>&nbsp;Mon dashboard</span>
          </h5>
          <div class="list-group">
            <a ng-if="user.isAdmin()" class="list-group-item blue" href="/admin/activities">L'activité</a>
            <a ng-if="user.isAdmin()" class="list-group-item blue" href="/admin/user">Les utilisateurs</a> 
            <a ng-if="user.isAdmin()" class="list-group-item blue" href="/admin/config">La configuration</a> 
          </div>
      </div>
        

      <!-- MY DOCS -->
      <div  class=" clearfix" >
        
        <h5  class=" " >
          <span class=""><i class="fa fa-file-text-o gray"></i>&nbsp;Mes publications</span> 
        </h5>
        <p>
          <a class="list-group-item blue" href="/account/documents"><i class="fa fa-angle-right"></i>&nbsp;Toutes mes publications</a>
        </p>
      </div>    

      <!-- LOVE -->
      <div  class=" clearfix " >
        <h5 class=" " ng-hide="user.likes.length">
          <span class="">Je n'ai encore pas de documents préférés.</span>
        </h5>
        
        <h5 ng-show="user.likes.length" class=" " >
          <span class="">Mes coups de coeur</span> 
        </h5>
        <p>
          <a class="list-group-item blue" href="/account/love"><i class="fa fa-angle-right"></i>&nbsp;Ma liste de documents</a>
        </p>
      </div>          

      <!-- PROFILE -->
      <div class="  clearfix" >
        <h5 class=" ">
          <span class=""><i class="fa fa-edit gray"></i>&nbsp;Mon profil</span>
        </h5>

        <div class="alert alert-warning" ng-cloak  ng-show="user.email.status !== true">
          <strong>Votre adresse e-mail n'a pas été confirmée.</strong><br/>
          Afin d'assurer une communication avec vous, nous avons besoin de valider votre adresse email.
          Pour valider votre adresse, recherchez dans votre boîte de reception le message que nous vous avons envoyé. Vous pouvez <a href="" ng-click="verify(user)">aussi demander à recevoir un nouvel e-mail de confirmation.</a>.
        </div>


        <p>
          <a class="list-group-item blue" href="/account/profile"><i class="fa fa-angle-right"></i>&nbsp;Modifier mes données personnelles</a>
        </p>
      </div>
        
      <div class="  clearfix" >
        <h5  class=" " >
          <span class=""><i class="fa fa-lock gray"></i>&nbsp;Sécurité</span> 
        </h5>
        <div class="list-group">
          <a class="list-group-item blue" href="/account/password"><i class="fa fa-angle-right"></i>&nbsp;Modifier mon mot de passe</a>
        </div>
      </div>          
 
      </section>
   </section>
</div>
