<div  class=" markdown-home">
	
  <div class="home-header" 
  		 backstretch="config.shared.home.image" 
  		 ng-if="config.shared.home.image">

		<h1 i18n-render="config.shared.home.tagLine"></h1>	

  </div>


	<div class="container ">

		<h3 class="byline">
	    <a ng-href="/account/overview" 
    	 class="btn btn-info btn-xs pull-right" 
    	 ng-show="user.isAdmin()" ><i class="fa fa-edit"></i> edit</a>
		</h3>

		<h2 i18n-render="config.shared.home.about" class="header" 
		 parse-markdown="true"></h2>
	</div>    
  


</div>

